/* CSS HEX */
--opal: #a7d2cbff;
--jasmine: #f2d388ff;
--new-york-pink: #c98474ff;
--shiny-shamrock: #66ab8cff;
--twilight-lavender: #874c62ff;

/* CSS HSL */
--opal: hsla(170, 32%, 74%, 1);
--jasmine: hsla(42, 80%, 74%, 1);
--new-york-pink: hsla(11, 44%, 62%, 1);
--shiny-shamrock: hsla(153, 29%, 54%, 1);
--twilight-lavender: hsla(338, 28%, 41%, 1);

/* SCSS HEX */
$opal: #a7d2cbff;
$jasmine: #f2d388ff;
$new-york-pink: #c98474ff;
$shiny-shamrock: #66ab8cff;
$twilight-lavender: #874c62ff;

/* SCSS HSL */
$opal: hsla(170, 32%, 74%, 1);
$jasmine: hsla(42, 80%, 74%, 1);
$new-york-pink: hsla(11, 44%, 62%, 1);
$shiny-shamrock: hsla(153, 29%, 54%, 1);
$twilight-lavender: hsla(338, 28%, 41%, 1);

/* SCSS RGB */
$opal: rgba(167, 210, 203, 1);
$jasmine: rgba(242, 211, 136, 1);
$new-york-pink: rgba(201, 132, 116, 1);
$shiny-shamrock: rgba(102, 171, 140, 1);
$twilight-lavender: rgba(135, 76, 98, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);
$gradient-right: linear-gradient(90deg, #a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);
$gradient-bottom: linear-gradient(180deg, #a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);
$gradient-left: linear-gradient(270deg, #a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);
$gradient-top-right: linear-gradient(45deg, #a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);
$gradient-bottom-right: linear-gradient(135deg, #a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);
$gradient-top-left: linear-gradient(225deg, #a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);
$gradient-bottom-left: linear-gradient(315deg, #a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);
$gradient-radial: radial-gradient(#a7d2cbff, #f2d388ff, #c98474ff, #66ab8cff, #874c62ff);